- content_for(:page_title, @event.datetime)

#map
.bubble
  %header
    = link_to root_path do
      %h1
        .lodz Łódź
        .ruby Ruby
        .user_group User Group
  .info
    .date= @event.datetime
    .address Aleja Kościuszki 32/7, 3. piętro
    .address2 Biuro Ragnarson
  %ol.presentations= render @event.presentations
  %p.archive= link_to 'wcześniejsze prezentacje', events_path

